<!DOCTYPE html>
<html>
<head>
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Home</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	
	<h1>Dogs:</h1>
	<% for(var d of dogs) { %>
        <p><%= d.name %>: <%= d.breed %></p> <a href='/dog/<%= d._id %>'>show</a> <a href='/dog/edit/<%= d._id %>'> edit</a> <a href='/dog/destroy/<%= d._id %>'>Delete</a>
    <% } %>

    <br><a href='/'>Home</a>
    <br><a href='/add'>Add</a>
	
</body>
</html>

